<div id="addFriend" class="col-3" style="padding-top:10px">
    <div style = "" class="input-group mb-3">
        <input #addBox type="text" class="form-control" placeholder="Add Friend (by User ID)" aria-label="Message"
            onkeydown = "if (event.keyCode == 13) document.getElementById('button-addon3').click()"
            aria-describedby="button-addon2">
            <div>
                <button class="btn btn-outline-secondary" type="button"
                    style="background-color: #7AB1E4; color:white;" id="button-addon3"
                    (click)="friendsService.addFriend(uid, addBox.value)">Add</button>
            </div>
    </div>
</div>
<h3 class="col-4">
    Friends List of {{ uName }}
</h3>
<ul>
    <div *ngFor="let friend of friendsUID" class="col-6" style="padding:10px">
        <button class="btn btn-outline-secondary" type="button" 
            style="background-color: #ff4444; color:white;" id="button-addon4"
            (click)="friendsService.deleteFriend(uid, friend)">Delete</button>
        {{ this.userService.uIDToUname(friend) }}
    </div>
</ul>

