#chatHolder{
    background-color: #0C4376;
    border-radius: 5px;
    border: rgba(19, 18, 18, 0.623);
    border-style: outset;
    overflow-x: hidden; 
    overflow-x: auto; 
    -moz-box-shadow:    inset 0 0 10px rgba(255, 255, 255, 0.164);
    -webkit-box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.164);
    box-shadow:         inset 0 0 10px rgba(255, 255, 255, 0.164);

    .row {
        border-bottom: rgba(19, 18, 18, 0.623);
        border-style: outset;
        border-top: none;
        border-left: none;
        border-right: none;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    #messageContainer {
        border: none !important;
        border-radius: 5px;
        border-style: inset; 
        background-color: white;
        
    }

}