<div class="container-fluid">
  <!--Chat holder -->
  <div class="row" id="chatHolder" style="height:90.55vh;">
    <!--Chat list-->
    <div class="col-3" style="border: rgba(19, 18, 18, 0.623);
        border-style: outset;">
      <div class="row justify-content-center" id="chatsHeader" style="background-color:#7AB1E4; color:white;">
        Chats</div>
      <div style="position: absolute; bottom: 5px; background-color: green">
        <!--New Chat-->
        <button class="btn btn-outline-secondary" type="button" data-toggle="modal" data-target="#exampleModalCenter"
          style="background-color: #7AB1E4; color:white;" id="button-addon2">New Chat</button>
      </div>
    </div>


    <!--Messages-->
    <div id="messageContainer" class="col-9" style="border: rgba(19, 18, 18, 0.623);
        border-style: outset; position: relative; bottom: 0;">
      <div *ngFor="let message of messages">
        <p>{{message.translations[userService.getCurrentUser().userDB.language]}}</p>
      </div>

      <div style="position: absolute; bottom: 0px; width: 70vw" class="input-group mb-3">
        <input #messageBox type="text" class="form-control" placeholder="Message..." aria-label="Message"
          aria-describedby="button-addon2" (keyup.enter)="messageService.sendMessage('test-id',messageBox.value)">
        <div>
          <button class="btn btn-outline-secondary" type="submit"
            style="background-color: rgb(197, 202, 206); color:white;" id="button-addon2"
            (click)="messageService.sendMessage('test-id',messageBox.value)">Send</button>
          <!--first arg change to chatID-->
        </div>
      </div>

    </div>
  </div>

</div>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="Modal-title" id="exampleModalLongTitle">Choose Friends To Add To New Chat</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Create Chat</button>
      </div>
    </div>
  </div>
</div>