#chatHolder{
    background-color: #0C4376;
    border: rgba(19, 18, 18, 0.623);
    border-style: outset;
    overflow-x: hidden; 
    overflow-x: auto; 
    -moz-box-shadow:    inset 0 0 10px rgba(255, 255, 255, 0.164);
    -webkit-box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.164);
    box-shadow:         inset 0 0 10px rgba(255, 255, 255, 0.164);

    .row {
        border-bottom: rgba(19, 18, 18, 0.623);
        border-style: outset;
        border-top: none;
        border-left: none;
        border-right: none;
    }

    #messages {
        position: absolute;
        top: 0px;
        bottom: 0px;
        width: 98.5%;
        margin-bottom: 50px;
    }

    .card.received{
        background-color: #0C4376;
        width:50%;
        color:white;
        .card-body{
            background-color: rgb(122, 177, 228);
        }
    }
    .sent{
        display: flex;
        justify-content: flex-end;
        .card {
            width:50%;
            background-color: rgb(122, 177, 228);
            color:white;
            .card-body{
                background-color: #0C4376;
            }
        
        }
    }
    
    #messageContainer {
        border: none !important;
        border-radius: 5px;
        border-style: inset; 
        background-color: white;
        
        
    }

}